In [30]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import numpy as np
from nltk import ngrams
import re

In [2]:
corpus = [
    "The elephant sneezed at the sight of potatoes.",
    "Bats can see via echolocation. See the bat sight sneeze!",
    "Wondering, she opened the door to the studio.",
]

In [3]:
corpus

['The elephant sneezed at the sight of potatoes.',
 'Bats can see via echolocation. See the bat sight sneeze!',
 'Wondering, she opened the door to the studio.']

# BOW

In [4]:
vectorizer = CountVectorizer()
vectors = vectorizer.fit_transform(corpus)

In [6]:
vectors.shape

(3, 20)

In [11]:
vectors.shape[0]

3

In [21]:
vectorizer.get_feature_names_out()

array(['at', 'bat', 'bats', 'can', 'door', 'echolocation', 'elephant',
       'of', 'opened', 'potatoes', 'see', 'she', 'sight', 'sneeze',
       'sneezed', 'studio', 'the', 'to', 'via', 'wondering'], dtype=object)

In [23]:
bow = pd.DataFrame(vectors.A, columns=vectorizer.get_feature_names_out())
bow

,at,bat,bats,can,door,echolocation,elephant,of,opened,potatoes,see,she,sight,sneeze,sneezed,studio,the,to,via,wondering
0,1,0,0,0,0,0,1,1,0,1,0,0,1,0,1,0,2,0,0,0
1,0,1,1,1,0,1,0,0,0,0,2,0,1,1,0,0,1,0,1,0
2,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,1,2,1,0,1

# TFIDF

In [26]:
vectorizer = TfidfVectorizer(stop_words='english', use_idf=False) 
X = vectorizer.fit_transform(corpus) 
df = pd.DataFrame(np.round(X.A,3), columns=vectorizer.get_feature_names_out())
df

,bat,bats,door,echolocation,elephant,opened,potatoes,sight,sneeze,sneezed,studio,wondering
0,0.000,0.000,0.0,0.000,0.5,0.0,0.5,0.500,0.000,0.5,0.0,0.0
1,0.447,0.447,0.0,0.447,0.0,0.0,0.0,0.447,0.447,0.0,0.0,0.0
2,0.000,0.000,0.5,0.000,0.0,0.5,0.0,0.000,0.000,0.0,0.5,0.5

# N-gram

In [35]:
s = corpus[0]
tokens = [token for token in s.split() if token != ""]
output = list(ngrams(tokens, 3))
output

[('The', 'elephant', 'sneezed'),
 ('elephant', 'sneezed', 'at'),
 ('sneezed', 'at', 'the'),
 ('at', 'the', 'sight'),
 ('the', 'sight', 'of'),
 ('sight', 'of', 'potatoes.')]